In [1]:
import pandas as pd
import numpy as np
import matplotlib as mtp
import matplotlib.pyplot as plt
import sklearn
import seaborn as sns
df=pd.read_csv('diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [3]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [4]:
#if 0 values are present then apply the following method
colist=['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']
for col in colist:
    df[col]=df[col].replace(0,np.NaN)
    mean=int(df[col].mean(skipna=True))
    df[col]=df[col].replace(np.NaN,mean)

df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,155.0,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,155.0,26.6,0.351,31,0
2,8.0,183.0,64.0,29.0,155.0,23.3,0.672,32,1
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,4.0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116.0,74.0,29.0,155.0,25.6,0.201,30,0
6,3.0,78.0,50.0,32.0,88.0,31.0,0.248,26,1
7,10.0,115.0,72.0,29.0,155.0,35.3,0.134,29,0
8,2.0,197.0,70.0,45.0,543.0,30.5,0.158,53,1
9,8.0,125.0,96.0,29.0,155.0,32.0,0.232,54,1

In [5]:
#seperating independent and dependent columns
x = df.drop(["Outcome"],axis = 1)
y = df.iloc[:,-1]
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6.0,148.0,72.0,35.0,155.0,33.6,0.627,50
1,1.0,85.0,66.0,29.0,155.0,26.6,0.351,31
2,8.0,183.0,64.0,29.0,155.0,23.3,0.672,32
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21
4,4.0,137.0,40.0,35.0,168.0,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,180.0,32.9,0.171,63
764,2.0,122.0,70.0,27.0,155.0,36.8,0.340,27
765,5.0,121.0,72.0,23.0,112.0,26.2,0.245,30
766,1.0,126.0,60.0,29.0,155.0,30.1,0.349,47
767,1.0,93.0,70.0,31.0,155.0,30.4,0.315,23

In [6]:
#seperating traning set and test set
import sklearn.model_selection as model_selection
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,test_size = 0.2,random_state=0)
print(x_train.shape)

(614, 8)

In [7]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.153070,0.255967,0.126082,0.066832,0.100746,-0.009198,0.522303,0.248172
Glucose,0.153070,1.000000,0.218615,0.192677,0.420301,0.231470,0.137100,0.266591,0.492911
BloodPressure,0.255967,0.218615,1.000000,0.191892,0.072041,0.281132,-0.002378,0.324915,0.165723
SkinThickness,0.126082,0.192677,0.191892,1.000000,0.158133,0.543275,0.102188,0.126107,0.214873
Insulin,0.066832,0.420301,0.072041,0.158133,1.000000,0.166946,0.099170,0.136050,0.214278
BMI,0.100746,0.231470,0.281132,0.543275,0.166946,1.000000,0.153506,0.025744,0.312249
DiabetesPedigreeFunction,-0.009198,0.137100,-0.002378,0.102188,0.099170,0.153506,1.000000,0.033561,0.173844
Age,0.522303,0.266591,0.324915,0.126107,0.136050,0.025744,0.033561,1.000000,0.238356
Outcome,0.248172,0.492911,0.165723,0.214873,0.214278,0.312249,0.173844,0.238356,1.000000

In [8]:
fig = plt.figure(figsize =(16,6))

In [9]:
# sns.distplot(df["Pregnancies"][df["Outcome"] == 1],hist=False)
# plt.xlabel("preg")
# plt.ylabel("outcome")

# plt.title("plotting")
# plt.grid()
# plt.show()

In [10]:
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

In [11]:
#feature scalling
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)
sc

StandardScaler()

In [12]:
#initializing ml KNN algo class and fitting out training datasets
classifier=KNeighborsClassifier(n_neighbors =5,metric = 'minkowski',p = 2)
classifier.fit(x_train,y_train)

KNeighborsClassifier()

In [13]:
#predict the test set result
y_pred=classifier.predict(x_test)
y_pred

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0],
      dtype=int64)

In [14]:
#evaluate model
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[87 20]
 [14 33]]

In [15]:
#print(f1_score(y_test,y_pred))
#print(accuracy_score(y_test,y_pred))

In [16]:
print("Correct:",sum(y_pred == y_test))
print("Incorrect : ",sum(y_pred != y_test))
print("Accuracy:",sum(y_pred ==y_test)/len(y_pred))

Correct: 120
Incorrect :  34
Accuracy: 0.7792207792207793

In [17]:
from sklearn.svm import SVC

In [18]:
model=SVC(kernel ="linear",random_state = 0)

In [19]:
model.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [20]:
model.score(x_test,y_test)

0.8116883116883117

In [21]:
s_y_pred = model.predict(x_test)

In [22]:
cm1=confusion_matrix(y_test,y_pred)
print(cm1)

[[87 20]
 [14 33]]

In [23]:
print("Correct:",sum(s_y_pred == y_test))
print("Incorrect : ",sum(s_y_pred != y_test))
print("Accuracy:",sum(s_y_pred ==y_test)/len(y_pred))

Correct: 125
Incorrect :  29
Accuracy: 0.8116883116883117

In [24]:
np.where(x.columns=="Glucose")[0][0]

1

In [25]:
x=np.zeros(len(x.columns))

In [26]:
x

array([0., 0., 0., 0., 0., 0., 0., 0.])

In [27]:
# def plot_scatter_chart(df,lo):
#     out1 =df[(df.Glucose==lo) & (df["Outcome"]==1)]
#     out0 = df[(df.Glucose==lo) & (df["Outcome"]==0)]
#     mtp.rcParams['figure.figsize'] = (15,10)
#     plt.scatter(out1.Insulin,out1.DiabetesPedigreeFunction,color='blue',label='diabetic', s=50)
#     plt.scatter(out0.Insulin,out0.DiabetesPedigreeFunction,marker='+', color='green',label='non diabetic', s=50)
#     plt.xlabel("Insulin")
#     plt.ylabel("age")
#     plt.title('diabetics prediction')
#     plt.legend()
    
# plot_scatter_chart(df,148)

In [28]:
def predict_price(Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age):
    input=(Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age)
    input1=np.array(input)
    input_reshape=input1.reshape(1,-1)
    std_data=scaler.transform(input_reshape)
    
    
   
    return model.predict(std_data)

In [1]:
#predict_price(4,148.0,0,0,94,28.1,0.653,23)